node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
veda
web-build/

# macOS
.DS_Store

# Android/IntelliJ
# Build artifacts
build/
android/app/build/
android/app/.cxx/
android/build/
android/.gradle/
android/local.properties
*.iml

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
*.xcworkspace

# Metro
.metro-health-check

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundle artifacts
*.jsbundle
*.jsbundle.meta

# CocoaPods
/ios/Pods/

# IDEs
.idea/
.vscode/
